@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800&display=swap&#39');

* {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin';
}

:root {
  --defaulcolor: #55a2a6;
  --defaultBlack: #151515;
  --lightBlack: #333;
  --darkBlack2: #111111;
  --lightBlack2: #444444;
  --defaultGray: #ccc;
  --darkGray: #b2b2b2;
}

html {
  scroll-behavior: smooth;
}

body,
nav,
main,
footer,
main>section,
.about,
.about>blockquote,
.features a,
.about>section>article {
  display: flex;
  flex-direction: column;
}

main {
  row-gap: 5vh;
}

h1,
h3 {
  text-transform: capitalize;
}

h2 {
  text-transform: uppercase;
  color: white;
}

h3 {
  color: var(--lightBlack2);
}

a {
  text-decoration: none;
}

@media (min-width:250px) {

  /* nav */
  nav>ul {
    display: none;
  }

  nav aside {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkBlack2);
    color: white;
    align-items: center;
  }

  nav h2 {
    padding-left: 5vh;
  }

  details {
    padding-right: 5%;
    position: absolute;
    width: 95%;
    text-align: right;
  }

  details ul {
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: var(--defaultBlack);
  }

  details li {
    display: flex;
  }

  details a {
    color: white;
    padding: 3%;
    width: 100%;
  }

  summary {
    font-size: 24px;
    border-top: 5px solid var(--defaulcolor);
  }

  /* header */
  header {
    background-image: url(/img/pexels-anthony-133184.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
  }

  header>article {
    background-color: rgba(50, 50, 50, .4);
    height: 100%;
    width: 100%;
  }

  /* footer */
  footer {
    background-color: var(--defaultBlack);
    row-gap: 5vh;
  }

  footer aside,
  footer section,
  footer>article,
  footer>article>article {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
  }

  footer>article>aside {
    padding: 5%;
  }

  footer>article>article {
    color: var(--darkGray);
  }

  footer section,
  footer article {
    padding: 5%;
  }

  footer section aside {
    flex-direction: row;
    column-gap: 2vh;
  }

  aside>form {
    padding: 2%;
    display: flex;
  }

  input {
    padding: 2%;
    border: none;
    background-color: var(--lightBlack);
  }

  [type="email"] {
    background-color: var(--lightBlack);
  }

  input,
  input::placeholder {
    color: var(--defaultGray);
  }

  footer a {
    font-size: 18px;
    color: var(--defaultGray);
    border-radius: 50%;
    border: 2px solid var(--defaultGray);
    text-align: center;
    height: 4vh;
    width: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer h3 {
    text-transform: uppercase;
    color: var(--defaultGray);
  }

  footer p {
    color: var(---darkGray);
  }

  footer>section>p {
    color: var(--defaultGray);
  }

  /* features */
  .features {
    row-gap: 5vh;
  }

  .features blockquote {
    line-height: 1.5;
    color: white;
    background-color: var(--defaulcolor);
    padding: 4%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
  }

  .features q,
  .features cite {
    width: 80%;
  }

  .features>article {
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .features a {
    color: var(--defaultBlack);
    align-items: center;
    row-gap: 2vh;
  }

  .features i {
    font-size: 48px;
  }

  .features h3 {
    width: 40%;
    text-align: center;
  }

  .features p {
    color: var(---darkGray);
    font-weight: 500;
  }

  /* about */
  .about {
    padding: 5%;
    row-gap: 5vh;
  }

  .about>article {
    display: flex;
    column-gap: 1vh;
    align-items: center;
  }

  .about aside {
    display: flex;
    width: 30%;
    border: 2px solid var(--defaultGray);
    height: 1vh;
    background-color: var(--defaultGray);
  }

  .about section {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }

  .about section article {
    row-gap: 3vh;
  }

  .about p {
    line-height: 1.5;
    color: var(--defaultGray);
    font-size: 14px;
  }

  .about a {
    width: 30%;
    background-color: var(--defaulcolor);
    text-align: center;
    color: white;
    padding: 1%;
  }

  .about blockquote {
    border-left: 3px solid var(--defaulcolor);
    padding: 3%;
    row-gap: 3vh;
  }

  .about q {
    padding-left: 5%;
    line-height: 1.5;
    font-style: italic;
    font-size: 12px;
    color: var(--lightBlack);
  }

  .about cite {
    color: var(--defaulcolor);
    text-transform: uppercase;
    padding-left: 5%;
  }
}

@media (min-width: 650px) {


  header {
    height: 45vh;
  }

  main {
    row-gap: 1vh;
  }

  /* nav */
  nav {
    padding: 3%;
    flex-direction: row;
    justify-content: space-between;
  }

  nav>ul {
    padding-top: 20px;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
  }

  nav>aside {
    display: none;
  }

  nav li {
    list-style-type: none;
  }

  nav a {
    color: var(--lightBlack);
  }

  h1 {
    font-size: 28px;
  }

  /* footer */
  footer {
    border-top: 3px solid var(--defaulcolor);
  }

  footer>article {
    padding-bottom: 2vh;
  }

  footer section {
    padding: 2%;
    flex-direction: row;
    justify-content: space-between;
  }

  footer aside {
    flex-direction: row;
  }

  footer,
  footer>article>section,
  footer>article>article {
    row-gap: 2vh;
  }

  footer>article>section {
    column-gap: 0.5vh;
  }

  footer a {
    width: 3vh;
    height: 3vh;
    /* font-size: 30px; */
  }

  footer section>aside {
    column-gap: 1vh;
  }

  form {
    justify-content: flex-end;
  }

  footer>section {
    flex-direction: row;
    justify-content: space-between;
  }

  footer>section>p {
    font-size: 15px;
  }

  /* features */
  .features {
    align-items: center;
    padding-top: 1vh;
  }

  .features>blockquote {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .features>article {
    flex-direction: row;
    width: 96%;
    justify-content: space-between;
    padding: 0;
  }

  .features a {
    width: 24%;
    text-align: center;
  }

  .features h3 {
    width: 70%;
  }


  /* about */
  .about {
    padding-left: 2%;
    padding-right: 2%;
  }

  .about aside {
    width: 40%;
  }

  .about>article {
    width: 100%;
    justify-content: space-between;
  }

  .about section {
    display: flex;
    flex-direction: row;
    column-gap: 2vh;
  }

  .about>section>article {
    row-gap: 2vh;
  }

  .about p {
    font-size: 16px;
  }

  .about a {
    width: 45%;
    padding: 2%;
  }

  .about>blockquote,
  .about q,
  .about cite {
    padding-left: 1%;
  }
}

@media (min-width:1000px) {
  header {
    height: 60vh;
  }

  /* nav */
  nav {
    justify-content: space-evenly;
  }

  nav>ul {
    padding-top: 0;
    width: 50%;
    align-items: center;
  }

  /* features */
  .features {
    padding-top: 2vh;
    row-gap: 0;
  }

  .features blockquote {
    padding-top: 2%;
  }

  .features article {
    width: 70%;
  }

  .features a {
    padding: 2%;
    height: 30vh;
    justify-content: space-evenly;
  }

  .features i {
    font-size: 60px;
  }

  .features a:hover {
    background-color: var(--darkBlack2);
    transition: .3s;
  }

  .features a:hover>i {
    color: var(--defaultGray);
  }

  .features a:hover>h3 {
    color: var(--defaulcolor);
  }

  .features a:hover p {
    color: var(--darkGray);
  }





}